	<div class="jumbotron">
		<div class="searchForm">
            <h1 class="nav-brand">Welcome to Culinate!</h1>
        <a href="/">Search Recipes  </a>
		<a href="/feed">  Saved Recipes</a>
		<hr class="my-4">
			<h2 class="searchText">Search for a recipe:</h2>
            <br>
			<form action="/" method="POST">
				<div class="form-group search-area">
					<label class="searchText" for="searchEntree">What's Cookin?</label>
					<input id="searchedWord" type="text" name="recipeSearched">
					<button type="submit" id="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
	    </div>
    </div>
			
            <div class="container">
				<div id="recipeCards"></div>
			</div>
		